/*   
Theme Name: ДЕНТО-ЭЛЬ
Theme URI: http://tav.cliohvit.ru/
Description: Создание и поддержка сайтов - http://tav.cliohvit.ru/
Author: Антон
Author URI: http://tav.cliohvit.ru/
Version: 1.0
*/
/*
@font-face {
    font-family: 'Open Sans';
    src: url('font/helveticaneuecyr-light-webfont.eot');
	 src: local('Open Sans'),
    src: url('font/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('font/helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('font/helveticaneuecyr-light-webfont.svg#Open Sans') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


/* font-family: "Open Sans"; 
@font-face {
    font-family: "Open Sans";
    src: url("font/Open Sans.eot");
    src: url("font/Open Sans.eot?#iefix")format("embedded-opentype"),
    url("font/Open Sans.woff") format("woff"),
    url("font/Open Sans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,700italic);
*/
/********************************************************************/

@font-face {
    font-family: 'open_sansregular';
    src: url('font/ajc4xby5-webfont.eot');
    src: url('font/ajc4xby5-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ajc4xby5-webfont.woff2') format('woff2'),
         url('font/ajc4xby5-webfont.woff') format('woff'),
         url('font/ajc4xby5-webfont.ttf') format('truetype'),
         url('font/ajc4xby5-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body {margin:0; padding:0;font-family: 'open_sansregular', sans-serif!important;}
/*body{background:rgba(0, 0, 0, 0) url("images/bg_fon.png") no-repeat fixed 0 0}
body{background:rgba(0, 0, 0, 0) url("images/bodyfon.png") repeat-x scroll 0 0;}*/
table td {
padding: 2px 10px;
}
.content-main h3{ 
	color: #636363;font-size: 20px;font-weight:bold;}
.content-main h2 { 
	color: #4ca07a;font-size: 22px;font-weight:bold;}
.content-main h1{
	color: #008fc6; font-size: 26px;
}
.content-main a{color: #2fb7b9;font-size: 14px;text-decoration: none;}
.content-main .sidebordRight a{color: #666666;font-size: 16px;}
.main, #head{
		width:980px;
		margin:0 auto;
		height:100%;
	}
#head{
	//background:url('images/head.png') no-repeat;
	width:980px;
	height:149px;
	position: relative;
}
#head.clone, .clonMenuTop.clone{
    position: fixed;
    transition: 0.2s top ease-in;
	z-index:9998;
	width:980px;
	}
.cal_head .textwidget{
	padding-top: 17px;
	padding-left: 15px;
}
#head div.divhead{float:left;/* margin: 29px 2px 0 14px; */margin: 29px 15px 0 0; /*width: 230px;*/}
#head .logo_head{margin-left: 32px;padding-top: 14px;}
#head .time_head div.textwidget { display: none;}
#head .time_head div.textwidget a{background:#699fce;font-size: 15px;padding: 5px 10px; color:#fff; text-decoration:none;}
#head .time_head .textwidget a span{color:#b9ffb2;}
#head .time_head p.time_head_rej, #head .phone_head p{font-size: 12px; color:#9e3a5a;}
#head .phone_head p{font-size: 12px; color:#9e3a5a; padding-top: 4px;}
#head .time_head p.time_head_rej{
	background:url(images/time.png) no-repeat scroll 0 0;
	height: 22px;
    padding-left: 27px;
}
/*.textwidget {
	position: absolute;
	top: 75px;
}*/
#head .phone_head span a{color: #008fc6;font-size:23px; text-decoration:none;}
#head .cal_head .calcul{
	background: rgba(0, 0, 0, 0) url("images/calc.png") no-repeat scroll 0 0;
    color: #6a9fd1;
    display: none;
    font-size: 13px;
    height: 22px;
    margin: 16px 0 11px;
    padding-left: 25px;
}
#slider_head{
	width:980px;
	height:348px;
}
#menu{
border-top:1px solid #ccc; 
border-bottom:1px solid #ccc; 
overflow:hidden;
background: #fff none repeat scroll 0 0;
width: 100%;
}
.header-fixed{ 
	position: fixed;
    top: 149px;
    z-index: 9998;
  }
.customize-support .header-fixed{ 
    top: 181px;
  }

.fixpage{
	position: fixed;
z-index: 9998;
width: 980px;
}
#menu ul{
	
	margin:0 auto;
	width:1019px;
}
#menu ul li{
 	border-right: 1px solid #ccc;
	display:block;
	float:left;
	font-size: 12px;
}



#menu ul li:first-child{
 	border-left: 1px solid #ccc;
}
#menu ul li#menu-item-266{/*width:177px;*/}
#menu ul li.current_page_item a, #menu ul li.current-page-ancestor a{ 
    border-bottom: 3px solid #9bc6a8;
}
.children2 {display: none!important;}
.main-item:focus ~ .children2, .main-item:active ~ .children2, .children2:hover {display: block!important;}
.children2{padding-left:20px;}	
.sidebordRight ul div.textwidget li.page_item_has_children ul.children2 li{list-style-type:none;}
.sidebordRight ul div.textwidget li.page_item_has_children ul.children2 li a{
	font-size: 13px;
    font-style: italic;
    font-weight: normal;
    margin-left: 0;
}
.sidebordRight ul div.textwidget li.page_item_has_children ul.children2 li a:hover{text-decoration:underline;}

#menu ul li a{
    border-bottom: 3px solid #fff;
    text-transform:uppercase;
    color: #575757;
    display: block;
    font-size: 13px;
    padding: 10px 35px 7px 36px;
    text-decoration: none;
}
/*#menu ul li a:nth-child(1){ border-left: 1px solid #ccc;}*/
#menu ul li a:hover{background:#6a9fd1;border-bottom: 3px solid #6a9fd1;}

#uslugy{
	background:url('images/usl.png');
	height:284px;
	 padding-left: 92px;
}
#uslugy div.b-carousel-block{   
border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    float: left;
    height: 100px;
   margin: 85px 24px 0 9px;
    padding: 1px;
    position: relative;
    width: 100px;
}
	
#uslugy div.b-carousel-block span{
    bottom: -49px;
    font-size: 13px;
    height: 40px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 100px;
}
#uslugy div.b-carousel-block a{color:#666666;}
	.b-carousel-block:hover{ opacity:0.3; cursor:pointer;}
#uslugy div.b-carousel-block img{
	 height: 55px;
    left: 23px;
    position: absolute;
    top: 25px;
    width: 55px;
}
#menu2{
	width:980px;
	height:423px;
	background:url('images/h2.png');
}

#menu2 div{
  float: left;
    margin-left: 55px;
    margin-top: 60px;
    width: 292px;
}
#menu2 div:nth-child(2){
	margin-left: 260px;
}
.clear{clear:both;}
#menu2 div ul li{list-style:none;}

#menu2 div ul  a{
	background: rgba(0, 0, 0, 0) url("images/point.png") no-repeat scroll 0 14px;
    color: #2fb7b9;
    display: block;
	font-size: 16px;
    padding: 7px 0 5px 15px;
    text-decoration: none;
	width:100%;
}
#menu2 div h2{color:#737373; font-size:13px;text-transform:uppercase;}
#menu2 div ul li {}
#menu2 div ul  a:hover {color:#fff; background:#9cc7a9 url("images/list_o.png") no-repeat scroll 100% 0}

#pirm{
	height:242px;
	background:url('images/prim.png')  no-repeat scroll ;
}
#pirm ul {float:right; margin-right: 81px;}
#pirm ul li{padding-left:60px; list-style:none;}
#pirm ul li:hover img{border-radius: 50%; border:1px solid #9ec6ab;

}
#pirm ul li img{ border: 1px solid #ccc;
    border-radius: 50%;
    height: 45px;
    margin-right: 20px;
    vertical-align: middle;
    width: 45px;}
#pirm ul li a{  display: block;padding-top: 10px; text-decoration:none;color:#2fb7b9;font-size: 16px;padding-top: 5px;}
#pirm ul li a:hover{color:#9ec6ab;text-decoration:underline;}

#foto{height:169px;}
#lic{height:258px;padding:0 0 0 100px;background:url('images/lic.png')  no-repeat scroll ;}
#cont{  background: #309ACE none repeat scroll 0 0;overflow: hidden;padding-bottom: 30px;}
#footer{height:350px;position: relative;}
#cont div{width:226px; float:left;padding-top: 10px;}
#cont div h2{font-size:16px; color:#fff; margin-left: 35px;}
#cont div ul li a{color:#e7e7e2; font-size: 14px;}
#cont div ul li{list-style:none;}
#cont div ul li a:hover{text-decoration:none;}
div.cont_img{float: right !important;
    margin-right: 30px;
    text-align: right;}
div.cont_img div.logo_footer{}
div.cont_img p.copyright{color:#fff; margin: 50px 0 10px;font-size: 14px;}

#footer .cont_footer{width:210px; background:#2f424c; color:#fff; font-size:14px; opacity:0.8; margin-left: 352px;  padding: 0 0 10px 40px;position: absolute;top: 0; display:none;}
#footer .cont_footer div.point{height:34px; background:rgba(0, 0, 0, 0) url("images/point_footer.png") no-repeat scroll 35px 0;}
#footer .cont_footer p.phone_f{font-size:16px;  line-height: 5px;}
#footer .cont_footer p.email_f{margin-bottom:50px;color:#fff;}
#footer .cont_footer p.email_f a{color:#fff;}
#footer .cont_footer p.email_f a:hover{color:#6a9fd1;}
#footer .cont_footer p.vib{margin: 40px 0 20px;font-weight:bold;}
#footer .cont_footer p.vib a.city_vib{background: #9cc7a8 none repeat scroll 0 0;color: #fff;padding: 5px 10px;text-decoration: none; font-weight:normal;}
#footer .cont_footer p.vib a.uch_vib{background: #fff none repeat scroll 0 0;color: #6a9fd1;padding: 5px 10px;text-decoration: none;  font-weight:normal;}
.search_head{padding-top:10px;}
.search_head a.map{color:#6a9fd1;margin-top:10px;font-size: 14px;}
.search_head p{margin:18px 0 0 0;}

.search_head .search-txt{color:#b8b8b8;position: absolute;margin-top: 7px;}
.search_head input.search-txt{  border: 2px solid #9cc7a8;
    padding: 2px 0 5px 20px;
    width: 72px;}
.search_head input[type=image]{
	left: 5px;
    position: relative;
    top: 12px;
}
	
.page-title{margin-left:30px;}
/**
*page*
**/
.content-main{
	/*background:url(images/naklon-bg.jpg) bottom repeat-x;*/ font-size:13px; overflow:hidden;
}


.content-main p, .content-main li{
	color: #636363;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 2;
}

.content-main .people h1{
	color: #666666;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
	font-weight:normal;
    top: 0;
}

.content-main .people p{margin-left:170px;}

.content-main .people img{
float:left;
margin-right:20px; 
margin-bottom:80px; 
 }
 div.specialist .page-list-ext .page-list-ext-image a img{
 }
 div.specialist .page-list-ext-image{float:none!important;}
 
.content-main .people h2,.content-main .people h2 strong{color: #636363;font-size: 24px;position:absolute;top:0; font-weight:normal;width: 600px;margin-top: 20px;}
.content-main .people .profession{margin:0;}
.page-title-map{color: #636363;font-size: 18px;}
.page-title-map a{color: #636363;font-size: 18px;text-decoration:none;}
#lic div{float:left;width:250px;text-align:center;margin-top:30px;}
#lic div a{text-decoration: none;}
#lic div a:hover{opacity:0.6}
#lic div a img{border-radius: 50%;
    height: 160px;
    width: 180px;}
#lic div a h2{color:#818181;font-size:18px;margin:0;font-weight:normal;text-transform: uppercase;}

 .all_specialist .page-list_people h2{text-transform:uppercase;color:#666666;font-size:14px;font-weight:normal;line-height:22px;margin-top: 0;}
.all_specialist .page-list_people a{color:#6a9fd1;font-size:12px;text-decoration:underline;display: table;}
.all_specialist .page-list_people p{color:#a0a0a0;font-size:14px;line-height:1.3;}
.all_specialist .page-list_people p em{font-size:12px;}
.all_specialist .page-list_people a.zapis, .people a.zapis{color:#ffffff;background:#6a9fd1;padding:10px 7px;text-decoration:none;margin-top:16px;}
.people a.zapis{   display: table;
    margin-left: 170px;
    margin-top: 50px;}
.all_specialist .page-list_people img{float:left;margin-right:20px;
	border-radius:10px;
 border:1px solid #fafafa;
 margin-bottom: 105px;
  }

  .rootpage a{color:#2fb7b9;}
  
/**
*Карточки в клинике
**/ 
 .all_specialist .page-list_people{
	background: #fafafa none repeat scroll 0 0;
    border: 1px solid #fafafa;
    border-radius: 10px;
    float: left;
    height: 250px;
    margin: 0 36px 36px 0;
    padding: 30px 10px 0 30px;
    width: 410px;
}
/**
*Карточки в самой клинике
**/ 
.all_spec_clin .page-list_people{  background: #fafafa none repeat scroll 0 0;
    border: 1px solid #fafafa;
    border-radius: 10px;
    float: left;
    height: 260px;
    margin: 0 10px 26px 0;
    padding: 5px 3px 0 5px;
    text-align: left;
    width: 323px;}


 .specialist .page-list_people h2{text-transform:uppercase!important;color:#666666!important;font-size:16px!important;font-weight:normal!important;line-height:22px!important;margin-top: 0;}
.specialist .page-list_people a{color:#6a9fd1!important;font-size:14px!important;text-decoration:underline!important;display: table;}
.specialist .page-list_people p{color:#a0a0a0!important;font-size:14px;}
.specialist .page-list_people a.zapis, .people a.zapis{color:#ffffff!important;background:#6a9fd1!important;padding:10px 15px!important;text-decoration:none!important;margin-top:16px;}
.page-list_people a.zapis{   display: none;
    margin-left: 170px!important;
    margin-top: 50px;}
.specialist .page-list_people img{float:left!important;margin-right:20px!important;
	border-radius:10px!important;
 border:1px solid #fafafa!important;
 margin-bottom: 50px!important;
  }
/**
*Карусель меню
**/
  
.b-carousel  {
	width: 790px; /* ширина всего блока */
	height: 284px;
	position: relative
}
	.h-carousel-wrapper {
		width: 688px; /* ширина области карусели */
		position: relative;
		height:284px;
		overflow: hidden; /* скрываем содержимое, выходящее за рамки основной области */
		margin: 0 0 0 56px; /* выравниваем по центру относительно родительского блока */
	}
		.h-carousel-items {
			width: 10000px; /* устанавливаем большую ширину для набора элементов карусели, чтобы в неё всё поместилось */
			/*position: relative;  позиционируем блок относительно основной области карусели */
		}
			.b-carousel-block {
				float: left; /* выстраиваем все элементы карусели в ряд */
				width: 210px; /* задаём ширину каждого элемента */
				padding: 5px 6px; /* делаем оступы, чтобы элементы не сливались */
			}
				.a-carousel-image-link { /* тут чисто оформление содержимого */
					display: block;
					width: 206px;
					height: 150px;
					overflow: hidden;
					border: 2px solid #fff;
				}
	.b-carousel-button-left, .b-carousel-button-right {
		  cursor: pointer;
    height: 39px;
    position: relative;
    top: 124px;
    width: 38px
	}
	.b-carousel-button-left {
		background: rgba(0, 0, 0, 0) url("images/carousel-left.png") repeat scroll 0 0;
    float: left;
    left: -6px;
    margin-left: 12px;
    position: absolute;
    top: 130px;
	}
	.b-carousel-button-right {
		float: right; /* выравниваем правую кнопку по правому краю */
		background: url(images/carousel-right.png); /* картинка с правой кнопкой */
	}
	
/**
*Карусель клиник
**/


.clearout {
height:20px;
clear:both;
}

#flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;    
}

.nbs-flexisel-inner {
    float: left;
    overflow: hidden;
    padding: 0;
    width: 100%
}
.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
}
.nbs-flexisel-item img {
     height: 171px;
    width: 245px;
    cursor: pointer;
    position: relative;
	 -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;*/ /* IE 6-9 */
}
.nbs-flexisel-item:hover  img{ -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;*/ /* IE 6-9 */}
.nbs-flexisel-item span {
    background: #000 none repeat scroll 0 0;
    bottom: 4px;
    color: #fff;
    height: 45px;
    opacity: 0.7;
    padding: 0 0 0 5px;
	display:block;
    position: absolute;
	width: 98%;
}
.nbs-flexisel-item:hover span.acti{display:block!important;}
/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 38px;
    height: 39px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 6px;
	top:60px;
    background: url(images/carousel-left_cl.png) no-repeat;
	
}

.nbs-flexisel-nav-right {
    right: 5px;
	top:60px;
    background: url(images/carousel-right_cl.png) no-repeat;
	
}
table.wp_excel_cms_table {
    color: #636363;
    font-size: 16px;
    width: 100%;
}
table.wp_excel_cms_table td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
	 font-size: 15px;
}	
table.wp_excel_cms_table td strong{display:block;padding:20px 0 10px;text-align: center;}
table.wp_excel_cms_table tr td:nth-child(2){text-align:center;}
.page-list-ext h3.page-list-ext-title a{  color: #808080 !important;
    font-size: 18px !important;
    font-weight: normal!important;
    text-decoration: underline!important;}

.list_uslug .page-list-ext-item{background:rgba(0, 0, 0, 0) url(images/list_specialist.png) no-repeat scroll 0 0; padding-left:26px;}

ul.uslugi_list li{list-style-image:url(images/list_specialist.png);}

.breadcrumb span a{color:#535353;}
.breadcrumb span a:hover{text-decoration:none;}
.breadcrumb span span{color:#535353;}
.breadcrumb{color:#bababa;margin: 50px 0 20px;  font-size: 14px;}

.sidebord div.sidebordText, .sidebord div.sidebordRight{float:left;}
.sidebordText{padding: 0 10px 40px 0;width: 689px;min-height: 500px;text-align: justify;}
.sidebordText img {margin-right: 15px}
h1{text-align: left;color: #666666;font-size: 25px;}
.sidebordText .people{padding:80px 0 30px 0;position:relative;text-align:left;  width: 689px;}
.sidebordRight{width:260px; margin-left: 20px}

.profession em::before {
    color: #232121;
    content: "Должность: ";
    font-style: normal;
    font-weight: bold;
}
.people strong{color: #232121;}
.sidebordRight > ul > div.textwidget > li{list-style-type:none;line-height: 2;  border-bottom: 1px solid #d6d6d6;/*background:url(images/menu_st.png) no-repeat scroll 0 0*/}
.sidebordRight > ul > div.textwidget > li > a{display:block;padding-left: 10px; }
.sidebordRight > ul > div.textwidget > li:hover > a{background:#6a9fd1;color:#fff;}

.sidebordRight ul div.textwidget li.page_item_has_children ul{display:none; }
.sidebordRight ul div.textwidget li.page_item_has_children:hover > ul {
   display: block;
}

  


.sidebordRight ul div.textwidget li.page_item_has_children ul.children li{list-style-type:none;}
.sidebordRight ul div.textwidget li.page_item_has_children ul.children li a{margin-left:0;font-style: italic;font-weight:normal;font-size: 13px;}
.sidebordRight ul div.textwidget li.page_item_has_children ul.children li a:hover{color:#ccc; text-decoration:none;}
ul.children{padding-left: 20px;}
.banner_menu a img{border:1px solid #ccc;}
.list_acticles{min-height: 175px;}
.list_acticles img {width: 213px;height:138px}
/*Услуги и цены - меню bottom*/
.list_usl div.item_usl{float:left; width:200px;height:480px;margin-left: 28px;}
.list_usl div.item_usl > a{font-size:14px;color:#666666;text-transform:uppercase;text-align:left;}
.list_usl div.item_usl > a:hover{color:#9cc7a8;}
.list_usl div.item_usl a img{border:1px solid #d9d9d9; border-radius:50%;padding:30px;}
.list_usl div.item_usl > a:hover img{border:1px dashed #ddedf8; border-radius:50%;padding:30px;}
.list_usl div.item_usl ul{padding:0px;}
.list_usl div.item_usl span{  display: block;
    margin: 35px 0;
    width: 160px;
	line-height: 19px;
	}
.list_usl div.item_usl ul li{list-style:none; font-size:14px;text-align:left;}
.list_usl div.item_usl ul li a{color:/*#b2b2b2*/#699FCE; font-size:14px;line-height: 22px;text-decoration:underline;}
.list_usl div.item_usl ul li a:hover{color:#6a9fd1;}
.offer {
background: #309ACE;
font-size: 10px;
color: #ccc;
line-height: 12px;
padding: 0 40px;
}
.page-list-ext .page-list-ext-item{margin:0;}

.list_acticles img{float:left; margin:0 10px 50px 0;}
.list_acticles .moreView{color:#6a9fd1;font-size:13px;text-decoration:underline;}
.list_acticles h3{ color: #666666;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;}
.list_acticles p{color:#949494;font-size:13px;line-height:22px;}


.bottomkons{
 background: #008FC6 none repeat scroll 0 0;
    border-radius: 22px 6px 20px / 32px 11px;
    color: #fff!important;
    display: block;
    font-size: 16px;
    font-style: italic;
    line-height: 44px;
    margin: 14px 0 14px 14px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    width: 191px;
}
.bottomkons:hover{background:#9CC7A9 none repeat scroll 0 0;}

.clone {
	background-color: #ffffff;
}

@media screen and (max-width: 760px){
.cal_head{display:none;}
}
.error404{padding:100px 20px;}
.error404 h1{font-size:16px;}

#fancybox-content{background:#699fce none repeat scroll 0 0 padding-box!important; color:#fff!important;}
.linlexl{font-size:14px!important; text-decoration:underline!important;}

a.direction{color: #2fb7b9!important;font-size: 14px!important;text-decoration:underline!important;}
h1.title {display:none}


#slideruslug {
 width: 100%;
 color: #66666;

 font-size: 20px;
 }
.headeruslug {
 width: 100%;
 border: 1px solid #cccccc;
 padding: 8px;
 margin-top: 30px;
 cursor: pointer;
 text-align: center;
 }
.headeruslug:hover {
 color: #666666;
 }
.contentuslug {
 overflow: hidden;
 }
.textuslug {
 width: 100%;
 border: 1px solid #cccccc;
 border-top: none;
 padding: 15px;
 text-align: left;
 
 font-size: 14px;
 }


 @media screen and (max-width: 480px){
#head div.divhead{margin:15px 0 0;}
 #menu2 div:nth-child(2){margin-left:0;}
 #menu2 div{margin:0;}
 #menu2{background:none;width:100%;}
 #pirm{background:none;width:100%;height:none;}
 #pirm ul{float:left;margin-right:0;}
 #pirm ul li{padding-left:0;}
 #lic{width:100%;height:none;background:none;padding:0;}
 #footer{clear:both;}
 #cont{width:100%;}
 #cont div{float:none;width:100%;}
 div.cont_img{float:none;margin-right:-36px!important;text-align:left;}
 .main, #head{width:100%;}
 .ymaps-2-1-34-map{width:100%;}
 .b-carousel{width:100%;}
 .h-carousel-wrapper{height:240px;width:100%;}
 .h-carousel-items{width:100%;}
 .b-carousel{height:284px;}
 .b-carousel-button-left, .b-carousel-button-right{z-index:9998;}
 #uslugy, #foto,#lic, #pirm, img.alignnone{display:none;}
 #uslugy div.b-carousel-block{margin:85px 1px 0 8px;}
 .clone{display:none;}
 #head{width:100%;height:100%;background:none;text-align: center;}
 #head div.divhead{float:none;width:100%;}
 body{background:none;}
 .cal_head{display:block;}
 #menu ul{width:100%;padding-left: 0;}
 #menu ul li{float:none;}
 #uslugy{background:none;padding-left:0;}
 .header-fixed, .fixpage{display: block;position: static;top: 0;z-index: 0;}
 .sidebordText{width:100%;text-align:left;}
 .search_head input.search-txt{width: 80%;}
 .search_head .search-txt{position:static;}
 .sidebordRight{ margin-left:0;margin-top: 20px;width: 100%;}
 .sidebordText .people{width: 100%;}
.list_usl div.item_usl{height:100%;}
 #head .time_head p.time_head_rej{ margin: 0 auto;width: 210px}
 #head .cal_head .calcul{margin: 0 auto 10px;width: 114px;}
.all_specialist .page-list_people{width:100%;padding-left:5px;}

}
 @media screen and (max-width: 980px){
	 #menu ul{width:100%;}
	 #menu ul li a{}
 }
 @media screen and (max-width: 768px){
	#menu{display:none;}
 }
 #wprmenu_menu.left{z-index:99999;}
 #wprmenu_menu ul li a{text-transform:uppercase!important;}

.branches a {
 display: inline-block;
padding: 0 .75em;
line-height: 20px;
height: 20px;
color: #179dcd;
border: 1px solid #179dcd;
text-align: center;
text-decoration: none;
margin-top: 2px;
width: 220px;
}
.branches a:hover {
    background: #179dcd;
    color: #fff;
    text-decoration: none !important;
}
.branches2 a {
    display: inline-block;
    padding: 0 .75em;
    line-height: 20px;
    height: 20px;
    color: #179dcd;
    border: 1px solid #179dcd;
    text-align: center;
    text-decoration: none;
    margin-top: 4px;
    width: 200px;
    font-size: 14px;
}
.branches2 a:hover {
    background: #179dcd;
    color: #fff;
    text-decoration: none !important;
}
.branches2 {
    padding-top: 20px;
    right: 0;
}

}
.list__napr__wrapp strong {
    font-size: 16px;
    margin-left: 170px;
}
.list__napr__wrapp ul {
	margin-left:30px;
}
.clearfix:before,
.clearfix:after
 {
  display: table;
  content: " ";
}
.clearfix:after
 {
  clear: both;
}
ul.setclinic h3 a {
    color: #808080 !important;
    font-size: 18px !important;
    font-weight: normal!important;
    text-decoration: underline!important;
    
}
ul.setclinic li {
list-style: none;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}
table.table {
    border-collapse: collapse;
    background-color: transparent;
}
.table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
.table th {
    text-align: left;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
ul.list__napr {
    margin: 0;
    padding: 0;
    list-style-type: circle;
}
ul.list__napr li {
    line-height: 15px;
    margin-bottom: 5px;
}