#line8Container {
	width: 100%;
	margin: 80px 0;
	padding: 30px 0;
	background: rgba(0, 0, 0, 0) url("images/line8_bg.png") no-repeat scroll center top;
	font-family: 'PT Sans', sans-serif;
	color: #333;
	z-index: 1001;
}

#form1Left {
	position: relative;
	width: 382px;
	height: 580px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0) url("images/mouth_both_bg.png") no-repeat scroll center center;
}

.mouthText {
    color: #565656;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
#mouthTopText {
    top: 200px;
}
#mouthBottomText {
    top: 350px;
}
.tooth {
	position: absolute;
	padding: 0;
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 23px;
	font-weight: 400;
	width: 26px;
	height: 26px;
	border: 2px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
.tooth:hover:not(.toothSelected){
	box-shadow: 0 0 5px #ffffff;
	background-color: rgba(255,255,255,0.2);
}
.toothSelected {
	border: 0!important;
	padding: 2px!important;
	background: radial-gradient(at center, #ef5d43, #d32e12);
	background-color: #d32e12;
}
#tooth-11 {
    left: 155px;
    top: 17px;
}
#tooth-12 {
    left: 112px;
    top: 35px;
}
#tooth-13 {
    left: 75px;
    top: 67px;
}
#tooth-14 {
    left: 47px;
    top: 93px;
}
#tooth-15 {
    left: 35px;
    top: 125px;
}
#tooth-16 {
    left: 26px;
    top: 157px;
}
#tooth-17 {
    left: 21px;
    top: 190px;
}
#tooth-18 {
    left: 18px;
    top: 225px;
}
#tooth-21 {
    left: 198px;
    top: 17px;
}
#tooth-22 {
    left: 241px;
    top: 35px;
}
#tooth-23 {
    left: 278px;
    top: 67px;
}
#tooth-24 {
    left: 300px;
    top: 93px;
}
#tooth-25 {
    left: 314px;
    top: 125px;
}
#tooth-26 {
    left: 324px;
    top: 157px;
}
#tooth-27 {
    left: 331px;
    top: 190px;
}
#tooth-28 {
    left: 334px;
    top: 225px;
}
#tooth-31 {
    left: 196px;
    top: 540px;
}
#tooth-32 {
    left: 235px;
    top: 525px;
}
#tooth-33 {
    left: 268px;
    top: 502px;
}
#tooth-34 {
    left: 292px;
    top: 476px;
}
#tooth-35 {
    left: 310px;
    top: 447px;
}
#tooth-36 {
    left: 322px;
    top: 412px;
}
#tooth-37 {
    left: 331px;
    top: 375px;
}
#tooth-38 {
    left: 336px;
    top: 332px;
}
#tooth-41 {
    left: 162px;
    top: 540px;
}
#tooth-42 {
    left: 123px;
    top: 525px;
}
#tooth-43 {
    left: 90px;
    top: 502px;
}
#tooth-44 {
    left: 62px;
    top: 476px;
}
#tooth-45 {
    left: 46px;
    top: 447px;
}
#tooth-46 {
    left: 29px;
    top: 412px;
}
#tooth-47 {
    left: 21px;
    top: 375px;
}
#tooth-48 {
    left: 16px;
    top: 332px;
}
#form1RightContainer {
	float: right; 
	margin: 50px 20px 0 0;
	padding: 0;
}


#form1RightHead {
	font-family: "Museo";
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin: 10px 0 20px 0; 
	text-align: center; 
}

#form1submitContainer {
	text-align: center;
}

.toothElement {
    border: 2px solid #d32e12;
    border-radius: 12px;
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 3px 5px 3px 8px;
	margin: 5px;
}
.toothElement span {
    background-color: #d32e12;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin: 0 0 0 7px;
    padding: 0;
    text-align: center;
    width: 14px;
}
#form1RightInner {
	margin-top: 50px;
}
#form1RightText {
	font-family: "Museo";
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	text-align: left;
}
#selectedTooths {
	text-align: left;
	min-height: 35px;
}
#form1RightPhone {
	font-size: 16px;
	padding: 0;
	margin: 0;
}
#form1RightPhone span {
	font-size: 26px;
	line-height: 42px;
	padding: 3px 0 3px 42px;
	margin: 0;
	background: url("images/phone_ico.png") no-repeat scroll left center;
}
.emptyText {
    color: #898989;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.cBoth {
	clear: both;
}

.inpError {
	border: 1px solid #d32e12!important;
}

@media (max-width: 768px) {
	#form1Left {
		width: 282px;
	}
	.tooth {
		border-color: #252532;
		color: #252532;
	}
	.toothSelected {
		color: #fff;
	}
	#tooth-11 {
		left: 108px;
		top: 53px;
	}
	#tooth-12 {
		left: 78px;
		top: 65px;
	}
	#tooth-13 {
		left: 54px;
		top: 88px;
	}
	#tooth-14 {
		left: 36px;
		top: 113px;
	}
	#tooth-15 {
		left: 26px;
		top: 141px;
	}
	#tooth-16 {
		left: 15px;
		top: 171px;
	}
	#tooth-17 {
		left: 10px;
		top: 205px;
	}
	#tooth-18 {
		left: 7px;
		top: 238px;
	}
	#tooth-21 {
		left: 145px;
		top: 53px;
	}
	#tooth-22 {
		left: 174px;
		top: 65px;
	}
	#tooth-23 {
		left: 198px;
		top: 88px;
	}
	#tooth-24 {
		left: 212px;
		top: 114px;
	}
	#tooth-25 {
		left: 224px;
		top: 140px;
	}
	#tooth-26 {
		left: 234px;
		top: 171px;
	}
	#tooth-27 {
		left: 241px;
		top: 203px;
	}
	#tooth-28 {
		left: 246px;
		top: 236px;
	}
	#tooth-31 {
		left: 142px;
		top: 499px;
	}
	#tooth-32 {
		left: 168px;
		top: 490px;
	}
	#tooth-33 {
		left: 193px;
		top: 475px;
	}
	#tooth-34 {
		left: 211px;
		top: 451px;
	}
	#tooth-35 {
		left: 226px;
		top: 426px;
	}
	#tooth-36 {
		left: 235px;
		top: 394px;
	}
	#tooth-37 {
		left: 243px;
		top: 359px;
	}
	#tooth-38 {
		left: 248px;
		top: 325px;
	}
	#tooth-41 {
		left: 115px;
		top: 499px;
	}
	#tooth-42 {
		left: 89px;
		top: 490px;
	}
	#tooth-43 {
		left: 66px;
		top: 475px;
	}
	#tooth-44 {
		left: 46px;
		top: 451px;
	}
	#tooth-45 {
		left: 32px;
		top: 426px;
	}
	#tooth-46 {
		left: 20px;
		top: 396px;
	}
	#tooth-47 {
		left: 11px;
		top: 362px;
	}
	#tooth-48 {
		left: 9px;
		top: 326px;
	}
	#form1RightPhone span {
		padding: 3px 0;
		margin: 0 -20px;
		background: none;
	}
}
