.capabilities-block .line3Block {
    padding: 50px 30px 30px
}

.testimonials-block .line10Block:last-child {
    border: 0 !important;
    margin-bottom: 0 !important;
}

.specialists-block__certificate {
    display: none;
}

#popupClose {
    position: relative;
    top: 60px;
    left: 19px;
}
