@font-face {
	font-family: "Museo";
	src: url("fonts/museo_cyrillic-500.eot");
	src: url("fonts/museo_cyrillic-500.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Museo";
	src: url("fonts/museo_cyrillic-700.eot");
	src: url("fonts/museo_cyrillic-700.ttf");
	font-weight: 700;
}
@font-face {
	font-family: "Proxima";
	src: url("fonts/proxima_nova-300.eot");
	src: url("fonts/proxima_nova-300.ttf");
	
}
@font-face {
	font-family: "Proxima";
	src: url("fonts/proxima_nova-500.eot");
	src: url("fonts/proxima_nova-500.ttf");
	font-weight: 500;
}
@font-face {
	font-family: "Proxima";
	src: url("fonts/proxima_nova-700.eot");
	src: url("fonts/proxima_nova-700.ttf");
	font-weight: 700;
}

body {
	font-family: "Proxima";
	font-weight: 300;
	color: #252532;
}
a {
	color: #0593c9;
}
input, textarea {
	outline: none;
}
#shadowBox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #888;
	opacity: 0.8;
	display: none;
	z-index: 101;
}
#popupBoxContainer, #mailBoxContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	z-index: 102;
	text-align: center;
}
#popupBox, #mailBox {
	display: inline-block;
	background-color: #fff;
	padding: 10px 30px 30px 30px;
	border-radius: 10px;
	overflow: auto;
}
#popupHead {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	text-align: center;
	margin: 0 0 20px 0;
}
#popupText {
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
}
#popupClose, #mailClose {
	text-align: right;
	height: 31px;
}
#popupCloseBtn, #mailCloseBtn {
	display: inline-block;
	margin-right: -10px;
	width: 31px;
	height: 31px;
	background: url("images/close_btn.png") no-repeat center center;
	cursor: pointer;
}
#line1 {
	padding: 0 0 20px 0;
}
#mainLogo {
	background: url("images/main_logo.png") no-repeat center center;
	width: 100%;
	height: 45px;
	margin: 10px 0 0 0;
}
#adressContainer {
	text-align: left;
	margin: 10px 0 0 0;
}
#adressContainer select{
	width: 100%;
	text-align: left;
	margin: 10px 0 0 0;
}
#adressHead {
	font-size: 19px;
	line-height: 25px;
	padding: 0;
	margin: 0;
}
#adressOuter {
	margin: 4px 0 0 0;
}
#telContainer {
	text-align: center;
	margin: 10px 0 0 0;
}
#telLine1 {
	font-size: 16px;
}
#telLine2 {
	font-size: 26px;
	font-weight: 500;
}
#line2Container {
	background: url("images/line2_bg.png") no-repeat center top;
	overflow: hidden;
}
#line2 {
	position: relative;
}
#line2Left {
	position: relative;
}
#line2Left img {
	position: absolute;
	right: 0;
	top: 0;
	width: 645px;
	height: 645px;
}
.line2TopTextBlock {
	width: 100%;
	font-family: "Museo";
	text-align: center;
	margin: 0 0 35px;
}
.line2RightTextBlock {
	position: absolute;
	right: 50px;
	top: 40px;
	width: 100%;
	max-width: 695px;
	font-family: "Museo";
	text-align: center;
}
.line2RightText1 {
	font-weight: 700;	
	font-size: 52px;
	line-height: 52px;
}
.line2RightText2 {
	font-weight: 500;	
	font-size: 30px;
	line-height: 36px;
}
.line2RightText3 {
	font-weight: 500;	
	font-size: 36px;
	line-height: 34px;
}
.oldPrice {
	font-size: 32px;
	color: #818181;
	text-decoration: line-through;
}
.newPrice {
	font-size: 50px;
}
.lineForm {
	background-color: #fff;
	padding: 30px 50px;
	margin: 0 50px;
	border-radius: 13px;
	text-align: center;
	box-shadow: 0 0 20px #ddd;
}
#line2Form {
	margin-top: 331px;
}
.line2FormText1 {
	font-family: "Museo";
	font-weight: 500;	
	font-size: 24px;	
	line-height: 30px;	
}
.line2FormText1 span {
	font-weight: 700;	
	color: #07a7e3;	
}
.line2FormText2 {	
	font-size: 16px;	
	line-height: 22px;
	margin: 0 0 20px;
}
.formInput {
	width: 100%;
	max-width: 318px;
	height: 44px;
	padding: 0 20px;
	margin: 5px 0;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	color: #818181;
	border: 1px solid #07a7e3;
	border-radius: 23px;
}
.formBtn {
	width: 100%;
	max-width: 318px;
	padding: 13px 20px;
	margin: 10px auto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	background-color: #0593c9;
	color: #fff;
	border-radius: 23px / 50%;
	cursor: pointer;
}
.formBtn:hover {
	background-color: #38bced!important;
}
#line3 {
	margin: 0;
	padding: 120px 0 50px 0;
	text-align: center;
}
.lineHead {
	font-family: "Museo";
	font-weight: 700;	
	font-size: 36px;
	line-height: 45px;
	text-align: center;
}
.line3Block {
	padding: 30px;
}
.line3BlockImg {
	width: 66px;
	height: 66px;
	margin: 0 auto;
}
.line3BlockImg1 {
	background: url("images/line3_img1.png") no-repeat center center;
}
.line3BlockImg2 {
	background: url("images/line3_img2.png") no-repeat center center;
}
.line3BlockImg3 {
	background: url("images/line3_img3.png") no-repeat center center;
}
.line3BlockImg4 {
	background: url("images/line3_img4.png") no-repeat center center;
}
.blockHead {
	font-family: "Museo";
	color: #07a7e3;
	font-weight: 500;	
	font-size: 18px;
	line-height: 25px;
}
.blockText {
	font-size: 14px;
	line-height: 22px;
}
#line4Container {
	background: linear-gradient(to left, #f5f5f5, #f9f9f9, #f5f5f5);
}
#line4Img {
	position: absolute;
	width: 547px;
	height: 357px;
	top: 100px;
	left: 0;
	background: url("images/line4_img.png") no-repeat center top;
	background-size: contain;
}
#line4BlockContainer {
	position: relative;
	height: 595px;
    width: 860px;
	margin: 0 auto;
}
#line4Head {
	padding: 30px 0;
	margin: 0;
}
.line4Block {
	position: absolute;
	margin: 0 0 30px 0;
	width: 300px;
}
.line4Block1 {
	top: 0;
	left: 0;
}
.line4Block2 {
	top: 83px;
	left: 400px;
}
.line4Block3 {
	top: 207px;
	left: 560px;
}
.line4Block4 {
	top: 331px;
	left: 560px;
}
.line4Block5 {
	top: 455px;
	left: 400px;
}
 

#line5 {
	margin: 50px 0 0 0;
}
.line5LeftHead {
	font-family: "Museo";
	font-size: 24px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
	padding: 30px 0 20px 0;
}
.minusBlock {
	padding: 25px 10px 25px 60px;
	background: url("images/minus_ico.png") no-repeat left center;
}
.minusBlockText {
	font-size: 16px;
	line-height: 22px;
}
.plusBlock {
	padding: 25px 10px 25px 60px;
	background: url("images/plus_ico.png") no-repeat left center;
}
.plusBlockText {
	font-size: 16px;
	line-height: 22px;
}
#plusHeadContainer {
	text-align: center;
}
#plusHeadOuter {
	background: linear-gradient(to left, #07a7e3, #32d9c3);
	display: inline-block;
	padding: 5px;
}
#plusHead {
	background-color: #fff;
	padding: 20px 40px; 
	margin: 5px;
}
.hr {
	padding: 70px 0;
	margin: 30px 0;
}
.hrLine {
	width: 100%;
	height: 4px;
	background: linear-gradient(to left, #32d9c3, #07a7e3, #32d9c3);
}
.hrImg {
	background: #fff url("images/hr_img.png") no-repeat center center;
	width: 100px;
	height: 56px;
	margin: -30px auto;
}
.line6Img {
	padding: 0;
	margin: 40px auto;
	max-width: 300px;
	width: 100%;
	height: 140px;
	box-shadow: 0 0 10px #ddd;
}
.line6Img1 {
	background: #fff url("images/line6_img1.png") no-repeat center center;
}
.line6Img2 {
	background: #fff url("images/line6_img2.png") no-repeat center center;
}
.line6Img3 {
	background: #fff url("images/line6_img3.png") no-repeat center center;
}
.line6Block {
	text-align: center;
}
.line6OldPrice {
	font-size: 22px;
	line-height: 22px;
	font-weight: 500;
	color: #ababab;
	text-decoration: line-through;
}
.line6OldPrice span {
	font-size: 18px;
}
.line6CurPrice {
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	color: #07a7e3;
}
.line6CurPrice span {
	font-size: 34px;
}
.line7BlockContainer {
	text-align: center;
}
.line7Block1 {
	display: inline-block;
	text-align: center;
	margin: 80px 10px 10px 10px;
	padding: 0 0 40px 0;
	box-shadow: 0 0 10px #ddd;
    max-width: 300px;
    width: 100%;
}
.line7Block2 {
	display: inline-block;
	text-align: center;
	margin: 10px;
	padding: 0 0 40px 0;
	box-shadow: 0 0 10px #ddd;
    max-width: 330px;
    width: 100%;
}
.line7Head1 {
	font-family: "Museo";
	max-width: 300px;
	width: 100%;
	background-color: #07a7e3;
	color: #fff;
	padding: 30px 20px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}
.line7Head2 {
	font-family: "Museo";
	max-width: 330px;
	width: 100%;
	background-color: #32dac3;
	color: #fff;
	padding: 30px 20px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
}
.line7HeadImg1 {
	max-width: 300px;
	width: 100%;
	height: 150px;
	margin: 0 auto;
    background-size: contain!important;
}
.line7HeadImg2 {
	max-width: 330px;
	width: 100%;
	height: 250px;
	margin: 0 auto;
    background-size: contain!important;
}
.line7HeadImg11 {
	background: url("images/line7head_img1.png") no-repeat center top;
}
.line7HeadImg12 {
	background: url("images/line7head_img2.png") no-repeat center top;
}
.line7HeadImg13 {
	background: url("images/line7head_img3.png") no-repeat center top;
}

.line7OldPrice {
	font-size: 22px;
	line-height: 22px;
	font-weight: 500;
	color: #ababab;
	text-decoration: line-through;
	margin: 30px 0 10px 0;
}
.line7OldPrice span {
	font-size: 18px;
}
.line7CurPrice {
	font-size: 32px;
	line-height: 32px;
	font-weight: 700;
	color: #07a7e3;
}
.line7CurPrice span {
	font-size: 34px;
}
.line7Btn1 {
	height: 38px;
	padding: 10px 20px;
	margin: 0 30px;
	border: 1px solid #0593c9;
	border-radius: 20px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	cursor: pointer;
}
.line7Btn2 {
	height: 40px;
	padding: 11px 20px;
	margin: 0 30px;
	border-radius: 20px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	background-color: #0593c9;
	color: #fff;
	cursor: pointer;
}
#line8Container {
	width: 100%;
	margin: 80px 0;
	padding: 30px 0;
	background: rgba(0, 0, 0, 0) url("images/line8_bg.png") no-repeat scroll center top;
	font-family: 'PT Sans', sans-serif;
	color: #333;
	z-index: 1001;
}
#line8 .lineHead {
	color: #fff;
}
.line9BlockIco {
	width: 100px;
	height: 121px;
	margin: 60px auto 0 auto;
}

.line9BlockIco1 {
	background: url("images/step1_ico.png") no-repeat center center;
}
.line9BlockIco2 {
	background: url("images/step2_ico.png") no-repeat center center;
}
.line9BlockIco3 {
	background: url("images/step3_ico.png") no-repeat center center;
}
.line9BlockIco4 {
	background: url("images/step4_ico.png") no-repeat center center;
}

.line9BlockText {
	font-size: 14px;
	line-height: 22px;
	margin: 20px;
	text-align: center;
}
.line10Block {
	margin: 30px 0;
	padding: 30px 0;
	border-bottom: 1px dashed #998998;
}
.line10LeftImg {
	width: 220px;
	margin: 10px auto;
}

.line10LeftImg1 {
	background: url("images/line10left_img1.png") no-repeat center center;
	height: 165px;
}
.line10LeftImg2 {
	background: url("images/line10left_img2.png") no-repeat center center;
	height: 165px;
}
.line10LeftImg3 {
	background: url("images/line10left_img3.png") no-repeat center center;
	height: 211px;
}
.line10LeftImg4 {
	background: url("images/line10left_img4.png") no-repeat center center;
	height: 189px;
}
.line10LeftImg5 {
	background: url("images/line10left_img5.png") no-repeat center center;
	height: 165px;
}

.line10Text {
	font-size: 14px;
	line-height: 22px;
	margin: 10px;
}
.line10RightImgContainer {
	width: 100%;
	text-align: center;
}
.line10RightImg {
	width: 220px;
	margin: 10px;
	display: inline-block;
}
.line10RightImg1 {
	height: 280px;
}
.line10RightImg2 {
	height: 143px;
}
.line10RightImg3 {
	height: 143px;
}
.line10RightImg4 {
	height: 143px;
}
.line10RightImg5 {
	height: 147px;
}
.imgZoom {
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: #0593c9;
	text-align: center;
}
.imgZoom>span {
	padding: 0 0 0 22px;
	background: url("images/zoom_ico.png") no-repeat left center;
	cursor: pointer;
}
.imgZoom>span>span{
	border-bottom: 1px dashed #0593c9;
}
.line10BlockLast {
	border: 0!important;
	margin-bottom: 0!important;
}
.line11Block {
	margin: 50px 0;
}
.line11BlockHead {
	font-family: "Museo";
	font-size: 22px;
	line-height: 25px;
	font-weight: 700;
	color: #07a7e3;
	padding: 10px 0;
}
.line11BlockText {

}
.line11BlockImg {
	max-width: 300px;
	width: 100%;
	height: 150px;
	margin: 10px auto;
}
.line11BlockImg1 {
	background: url("images/line11Block_img1.png") no-repeat center center;
}
.line11BlockImg2 {
	background: url("images/line11Block_img2.png") no-repeat center center;
}
.line11BlockImg3 {
	background: url("images/line11Block_img3.png") no-repeat center center;
}
.line11BlockImg4 {
	background: url("images/line11Block_img4.png") no-repeat center center;
}
.line11BlockImg5 {
	background: url("images/line11Block_img5.png") no-repeat center center;
}
.line11BlockImg6 {
	background: url("images/line11Block_img6.png") no-repeat center center;
}
#line12Container {
	background: url("images/line12_bg.png") no-repeat center top;
	font-family: "Museo";
	font-weight: 700;
	text-align: center;
	color: #fff;
	padding: 70px 0 30px 0;
	margin: 30px 0;
}

.line12Text1 {
	font-size: 36px;
	line-height: 45px;
	margin: 0 0 60px 0;
}
.line12Text2 {
	font-size: 36px;
	line-height: 64px;
	margin: 0 0 60px 0;
}
.line12NewPrice {
	display: inline-block;
	background-color: rgba(7, 167, 227, 0.5);
	padding: 20px;
	margin: 0 7px;
	border: 1px solid #fff;
	border-radius: 8px;
}
.line12NewPrice1 {
	font-size: 60px;
}
.line12NewPrice2 {
	font-size: 48px;
}
.line12OldPrice {
	font-size: 40px;
	color: #ccc;
	text-decoration: line-through;
}
.line12Text3 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}
.line12Text4 {
	font-size: 36px;
	line-height: 80px;
}
#line13 {
	text-align: center;
	padding: 60px 0;
}
.line13Text1 {
	font-family: "Museo";
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
}
.line13Img {
	display: inline-block;
	margin: 60px 0 30px 0;
}
.line13Img img{
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
}

.line13Text2 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 300;
}
.line13Text2 span {
	font-weight: 500;
}
#line13form {
	text-align: center;
	border-radius: 13px;
    box-shadow: 0 0 20px #ddd;
	padding: 30px 0 20px 0;
	margin: 0 20px;
}
#line13formHead {
	font-family: "Museo";
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin: 0 0 20px 0;
}
.line13formInput {
	width: 100%;
	max-width: 380px;
	height: 44px;
	padding: 0 20px;
	margin: 5px 0;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	color: #818181;
	border: 1px solid #07a7e3;
	border-radius: 23px;
}
#line13formInput1 {
	text-align: right;
	padding: 0 5px 0 0;
}
#line13formInput2 {
	text-align: left;
	padding: 0 0 0 5px;
}
.line13formBtn {
	display: inline-block;
	padding: 13px 30px;
	margin: 10px auto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	background-color: #0593c9;
	color: #fff;
	border-radius: 23px / 50%;
	cursor: pointer;
}
.line13formBtn:hover {
	background-color: #38bced!important;
}
#line14 {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
}
.line14Block {
	padding: 50px 30px 30px 30px;
}
.line14BlockImg {
	width: 72px;
	height: 60px;
	margin: 10px auto;
}
.line14BlockImg1 {
	background: url("images/line14_img1.png") no-repeat center center;
}
.line14BlockImg2 {
	background: url("images/line14_img2.png") no-repeat center center;
}
.line14BlockImg3 {
	background: url("images/line14_img3.png") no-repeat center center;
}
.line14BlockImg4 {
	background: url("images/line14_img4.png") no-repeat center center;
}
.line15Block {
	margin: 50px 0;
	text-align: center;
}
.line15BlockImg {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.line15BlockImg1 {
	background: url("images/line15block_img1.png") no-repeat center center;
}
.line15BlockImg2 {
	background: url("images/line15block_img2.png") no-repeat center center;
}
.line15BlockImg3 {
	background: url("images/line15block_img3.png") no-repeat center center;
}
.line15BlockImg4 {
	background: url("images/line15block_img4.png") no-repeat center center;
}
.line15BlockImg5 {
	background: url("images/line15block_img5.png") no-repeat center center;
}
.line15BlockImg6 {
	background: url("images/line15block_img6.png") no-repeat center center;
}
.line15BlockImg7 {
	background: url("images/line15block_img7.png") no-repeat center center;
}
.line15BlockImg8 {
	background: url("images/line15block_img8.png") no-repeat center center;
}.line15BlockImg9 {
	background: url("images/line15block_img9.png") no-repeat center center;
}
.line15BlockImg10 {
	background: url("images/line15block_img10.png") no-repeat center center;
}
.line15BlockImg11 {
	background: url("images/line15block_img11.png") no-repeat center center;
}
.line15BlockImg12 {
	background: url("images/line15block_img12.png") no-repeat center center;
}
.line15BlockText1 {
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0 0 0;
}
.line15BlockText2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: #07a7e3;
	margin: 12px 0 10px 0;
}
.line15BlockText3 {
	font-size: 16px;
	line-height: 20px;
}
.line15BlockText4 span{
	font-size: 13px;
	line-height: 24px;
	font-weight: 500;
	border-bottom: 1px dashed #252532;
	cursor: pointer;
}
.line15Doc {
	display: none;
}
.line15Doc1 {
	background: url("images/line15_doc1.jpg");
}
.line15Doc2 {
	background: url("images/line15_doc2.jpg");
}
.line15Doc3 {
	background: url("images/line15_doc3.jpg");
}
.line15Doc4 {
	background: url("images/line15_doc4.jpg");
}
.line15Doc5 {
	background: url("images/line15_doc5.jpg");
}
.line15Doc6 {
	background: url("images/line15_doc6.jpg");
}
.line15Doc7 {
	background: url("images/line15_doc7.jpg");
}
.line15Doc8 {
	background: url("images/line15_doc8.jpg");
}
.line15Doc9 {
	background: url("images/line15_doc9.jpg");
}
.line15Doc10 {
	background: url("images/line15_doc10.jpg");
}
.line15Doc11 {
	background: url("images/line15_doc11.jpg");
}
#line17 {
	padding: 80px 0 0 0;
}
.line17Form {
	width: 100%;
	max-width: 460px;
	background-color: #fff;
	padding: 30px 50px;
	margin: 50px auto 10px auto;
	border-radius: 13px;
	text-align: center;
	box-shadow: 0 0 20px #ddd;
}
.line17FormHead {
	font-family: "Museo";
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin: 0 0 20px 0;
}
.line17FormInput {
	width: 100%;
	height: 44px;
	padding: 0 20px;
	margin: 5px 0;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	color: #818181;
	border: 1px solid #07a7e3;
	border-radius: 23px;
}
.line17FormTextarea {
	width: 100%;
	height: 148px;
	padding: 10px 20px;
	margin: 5px 0;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #818181;
	border: 1px solid #07a7e3;
	border-radius: 23px;
	resize: none;
}
.line17FormBtn {
	width: 100%;
	padding: 13px 20px;
	margin: 10px auto;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	background-color: #0593c9;
	color: #fff;
	border-radius: 23px / 50%;
	cursor: pointer;
}
.line17FormBtn:hover {
	background-color: #38bced!important;
}
.line17Text1 {
	text-align: center;
	margin: 0 0 30px 0;
}
.line17Text1 span{
	font-size: 16px;
	line-height: 30px;
	color: #0593c9;
	text-decoration: underline;
	cursor: pointer;
}
.line17Btns {
	text-align: center;
}
.line17Btn {
	display: inline-block;
	margin: 5px;
	width: 50px;
	height: 50px;
	opacity: 0.85;
	cursor: pointer;
}
.line17Btn:hover {
	opacity: 1;
}
.line17Btn1 {
	background: url("images/line17_btn1.png") no-repeat center center;
}
.line17Btn2 {
	background: url("images/line17_btn2.png") no-repeat center center;
}
.line17Btn3 {
	background: url("images/line17_btn3.png") no-repeat center center;
}
.line17Btn4 {
	background: url("images/line17_btn4.png") no-repeat center center;
}
#line18Container {
	background-color: #444f5d;
	padding: 25px 0;
	margin: 100px 0 0 0;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
}
.line18Text3 {
	float: left;
}
.line18Text4 {
	float: right;
}
.line18Text5 {
	float: left;
}
.line18Text5 span {
	color: #07a7e3;
	text-decoration: underline;
	cursor: pointer;
}
.line18Text6 {
	float: right;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}
.cBoth {
	clear: both;
}
.inpError {
	border: 1px solid red!important;
}

@media (max-width: 1200px) {
	.line2RightTextBlock {
		right: 0;
	}
}

@media (max-width: 992px) {
	#mainLogo, #adressContainer, #telContainer {
		margin: 30px 0 0 0;
	}
	#line12Container {
		padding: 30px 0;
	}
	.line12Text1, .line12Text2 {
		margin-bottom: 40px;
	}
	#line2Form {
		margin-top: 550px;
	}
	.line4Block {
		width: 250px;
	}
	#line4Img {
		top: 140px;
		width: 400px;
	}
	#line4BlockContainer {
		height: 540px;
		width: 620px;
	}
	.line4Block2 {
		left: 300px;
		top: 80px;
	}
	.line4Block3 {
		left: 420px;
		top: 200px;
	}
	.line4Block4 {
		left: 420px;
		top: 320px;
	}
	.line4Block5 {
		left: 170px;
		top: 410px;
	}
	.line7Block1, .line7Block2 {
		margin: 20px 10px;
	}
	#line13formInput1, #line13formInput2 {
		text-align: center;
	}
	.line13formBtn {
		max-width: 380px;
	}
}

@media (max-width: 768px) {
	#line2Form {
		padding: 30px 30px 20px 30px;
	}
	.line2RightText1 {
		font-size: 42px;
		line-height: 44px;
	}
	.formInput {
		width: 100%;
	}
	.formBtn {
		width: 100%;
		height: auto;
	}
	#line4BlockContainer {
		height: auto;
		width: 100%;
		margin-top: -30px;
	}
	#line4Img {
		position: relative;
		left: 0;
		top: 0;
		width: 80%;
		height: 0;
		margin: 5% 10%;
		padding-top: 50%;
		background: url("images/line4_img_xs.png") no-repeat center top;
		background-size: contain;
	}
	.line4Block {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
	.line9BlockText {
		height: auto;
	}
	.line12Text1 {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.line12Text2 {
		font-size: 36px;
		line-height: 42px;
		margin-bottom: 10px;
	}
	.line12Text4 {
		line-height: 45px;
	}	
	.line16BlockTextRight {
		text-align: left;
	}
	.line17Form {
		padding: 30px 20px;
	}
	#line18Container {
		text-align: center;
	}
	.line18Text3, .line18Text4, .line18Text5, .line18Text6 {
		float: none;
	}
}
@media (max-width: 500px) {
	.lineForm {
		margin: 0 10px;
	}
	.line2RightText1{
		font-size: 32px;
		line-height: 42px;
	}
	#line2Left img {
		right: -200px;
	}
	.lineHead {
		font-size: 24px;
		line-height: 32px;
	}
	.line5LeftHead {
		font-size: 20px;
	}
	.line7Block1, .line7Block2 {
		margin: 20px 0;
	}
}